@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background: #7f8c8d;
    overflow-y: scroll;
}
/*
.login-base{
    position: relative;
    height: 300px;

    background: #3d97d3;

    z-index: -1;

    bottom: -150px;
    position: fixed;
}

.login-base:after{
    position: absolute;
    width: 100%;
    height: 100%;

    content: '';
    background: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    transform-origin: top left;
    transform: skewY(-4deg);
    z-index: -1;
}*/

.container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.titular{
   background: #3d97d3;
   padding-top: 3%;
   padding-bottom: 3%;
   padding-left: 8%;
}


.titulo{
    padding-top: %;  /*ver responsive*/

}

h1{
    color: white;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: #444444;
}

.fondo{
    background: rgba(255, 255, 255, 0.7);

    width: 100%;

    padding-top: 2%;
    padding-bottom: 2%;

    border-radius: 5px;
}

img{
    position: absolute;
    bottom: 2%;
    left: 0;

    margin-left: 3%;

    z-index: 5000;

    width: 230px;

    position: fixed;
}

button {
	border: none;
	padding: 0.6em 1.2em;
	background: #c0392b;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}

button:hover {
    background: rgb(255, 255, 255);
    color: #444444;
    transform: scale(1.1);
    transition: 0.3s ease;
}

.texto{
    text-align: end;

    color: white;
    font-size: 25px;

    border-right: 1px solid white;
}

.main{
    padding-top: 8%;
}