
/*   ------------------------------------------------ SUBMENU IZQUIERDO --------------------------------------------*/
/*.submenu
{
    background: white;
    border-top: 6px solid #3d97d3;
    
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 0px !important;
    padding-right: 0px !important;

    margin-top: 20px;
    margin-left: 20px;
}

.submenu a 
{
    display: block;
    line-height: 30px;

    padding-left: 30px;
}

.submenu p
{
    color: #3d97d3;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    border-bottom: 1px dotted #3d97d3;
}

.submenu a:hover
{
    background: #3d97d3;
    color: white;

    transition: 0.3s ease;
    width: 100%;
}

.activo
{
    background: #3d97d3;
    color: white;
}

.activo a 
{
    color: white;
}*/
/*   ------------------------------------------------ CONTENEDOR MAYOR --------------------------------------------*/
/*.contenido-variable
{
    background: white;
    border-top: 6px solid #3d97d3;
    
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0px !important;
    padding-right: 0px !important;

    margin-top: 20px;
}

.contenido-variable h4 
{
    color: #3d97d3;
}
*/

/* ---------------------------------------------------------------------------
                HEADER + imagen + rotulo
----------------------------------------------------------------------------*/
.imagen-movil{
    height: 40vh;
    max-height: 600px;
    background-image: url(../img/baner/baner-main-2.jpg);
    background-size: 100% 50%;
    background-attachment: fixed;
}

 .rotulo{
    font-size: 2.5em;
    /* font-family: "Source Sans Pro"; */
    color: rgb(255, 255, 255);
    line-height: 1.2;
    letter-spacing: 5px;
    padding-top: 33%;               /* responsive */
  }
  /*
  .HOSPITAL_INTERZONAL {
    font-size: 30px;
    font-family: "Source Sans Pro";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: justifyLeft;
    -moz-transform: matrix( 0.66771292039513,0,0,0.66666666666667,0,0);
    -webkit-transform: matrix( 0.66771292039513,0,0,0.66666666666667,0,0);
    -ms-transform: matrix( 0.66771292039513,0,0,0.66666666666667,0,0);
    position: absolute;
    left: 124.492px;
    top: 326.5px;
    z-index: 591;
  }

  .SAN_JUAN_BAUTISTA {
    font-size: 55px;
    font-family: "Source Sans Pro";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: justifyLeft;
    -moz-transform: matrix( 0.66771292039513,0,0,0.66666666666667,0,0);
    -webkit-transform: matrix( 0.66771292039513,0,0,0.66666666666667,0,0);
    -ms-transform: matrix( 0.66771292039513,0,0,0.66666666666667,0,0);
    position: absolute;
    left: 93.048px;
    top: 338px;
    z-index: 592;
  }
  
  .isologo_blanco {
    position: absolute;
    left: 102px;
    top: 338px;
    width: 54px;
    height: 50px;
    z-index: 590;
  } */

  /*-------------------------------------------------------------
                    CONTENIDO
  -------------------------------------------------------------*/
  .titular {
    font-size: 26px;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: rgb(52, 152, 219);
    line-height: 30px;
    text-align: center;
    z-index: 139;

    font-weight: 300;
  }

  .titular-barra{
    border-bottom: 5px solid #3d97d3;
  }

  .m-top{
      margin-top: 3%;
  }

  .m-bot{
      margin-bottom: 3%;
  }
  
  .mision{
      padding-bottom: 5%;
  }

  .mision h2{
      margin-bottom: 3%;
      margin-top: 2%;
      font-size: 26px;
      line-height: 40px;
      color: #303030; 
      text-align: start;
  }

  .mision h3{
      margin-bottom: 1%;
      margin-top: 5%;
  }

  .mision p{
    margin-bottom: 2%;
    color: #555555;
    font-size: 18px;
    line-height: 28px;
    text-align: start;
    letter-spacing: normal;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
............................ Small devices (landscape phones, 576px and up)......................
///////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (min-width: 576px) {  }

/* ////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////////
............................ Medium devices (tablets, 768px and up) ...............................
///////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////*/
@media (min-width: 768px) { 

/* ---------------------------------------------------------------------------
                HEADER + imagen + rotulo
----------------------------------------------------------------------------*/
.imagen{
    background-image: url(../img/baner/baner-main-2.jpg);
    background-size: 100% 70%;
    background-attachment: fixed;
}

.rotulo{
    font-size: 80px;
    /* font-family: "Source Sans Pro"; */
    color: rgb(255, 255, 255);
    line-height: 1.2;
    letter-spacing: 5px;
    position: absolute;
    left: 100.88px;
    top: 128px;
    z-index: 594;

    padding-top: 0;               /* responsive */
  }
  
  .HOSPITAL_INTERZONAL {
    font-size: 30px;
    /* font-family: "Source Sans Pro"; */
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: justifyLeft;
    -moz-transform: matrix( 0.66771292039513,0,0,0.66666666666667,0,0);
    -webkit-transform: matrix( 0.66771292039513,0,0,0.66666666666667,0,0);
    -ms-transform: matrix( 0.66771292039513,0,0,0.66666666666667,0,0);
    position: absolute;
    left: 124.492px;
    top: 326.5px;
    z-index: 591;
  }

  .SAN_JUAN_BAUTISTA {
    font-size: 55px;
    /* font-family: "Source Sans Pro"; */
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: justifyLeft;
    -moz-transform: matrix( 0.66771292039513,0,0,0.66666666666667,0,0);
    -webkit-transform: matrix( 0.66771292039513,0,0,0.66666666666667,0,0);
    -ms-transform: matrix( 0.66771292039513,0,0,0.66666666666667,0,0);
    position: absolute;
    left: 93.048px;
    top: 338px;
    z-index: 592;
  }
  
  .isologo_blanco {
    position: absolute;
    left: 102px;
    top: 338px;
    width: 54px;
    height: 50px;
    z-index: 590;
  }


  /*-------------------------------------------------------------
                    CONTENIDO
  -------------------------------------------------------------*/
/* .titular {
    font-size: 40px;
    font-family: "Saira ExtraCondensed";
    color: rgb(52, 152, 219);
    line-height: 40px;
    text-align: center;
    z-index: 139;

    font-weight: 300;
  }

  .titular-barra{
    border-bottom: 5px solid #3d97d3;
  }

  .m-top{
      margin-top: 3%;
  }

  .m-bot{
      margin-bottom: 3%;
  }
  
  .mision{
      padding-bottom: 5%;
  }

  .mision h2{
      margin-bottom: 3%;
      margin-top: 2%;
      font-size: 42px;
      line-height: 63px;
      color: #303030; 
      text-align: start;
  }

  .mision h3{
      margin-bottom: 1%;
      margin-top: 5%;
  }

  .mision p{
    margin-bottom: 2%;
    color: #555555;
    font-size: 22px;
    line-height: 32px;
    text-align: start;
    letter-spacing: normal;
} */

/*-------------------------------------------------------------
                    CONTENIDO
  -------------------------------------------------------------*/
  .titular {
    font-size: 40px;
    font-family: 'Saira Extra Condensed', sans-serif;
    color: rgb(52, 152, 219);
    line-height: 40px;
    text-align: center;
    z-index: 139;

    font-weight: 300;
  }

  .titular-barra{
    border-bottom: 5px solid #3d97d3;
  }

  .m-top{
      margin-top: 3%;
  }

  .m-bot{
      margin-bottom: 3%;
  }
  
  .mision{
      padding-bottom: 5%;
  }

  .mision h2{
      margin-bottom: 3%;
      margin-top: 2%;
      font-size: 36px;
      line-height: 46px;
      color: #ddd; 
      font-weight: lighter;
      text-align: start;
  }

  .mision h3{
      margin-bottom: 1%;
      margin-top: 5%;
  }

  .borde-gris{
      border-bottom: 1px solid #ddd;
  }

  .mision p{
    margin-bottom: 2%;
    color: #555555;
    font-size: 22px;
    line-height: 32px;
    text-align: justify;
    letter-spacing: normal;
    font-weight: lighter;
}

strong{
   /* font-weight: 800;*/
}

}


  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {  }

  
  /* // Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  }